.Navbar {
    height: 5%;
}

.SideMenu {
    height: 95%;
    width: 15%;
    float: left;
}

.MainBody {
    height: 95%;
    width: 85%;
    float: left;
}

.LogoContainer {
    height: 20%;
}

input[type="file"] {
    display: none;
}
